# Python para Data Science: Funções, Pacotes e Pandas básico - parte 1

In [45]:
import pandas as pd

In [46]:
'''
pd.set_option('display.max_rows', 1000) #Para visualizar todas as linhas
pd.set_option('display.max_columns', 1000) #Para visualizar todas as linhas
'''

"\npd.set_option('display.max_rows', 1000) #Para visualizar todas as linhas\npd.set_option('display.max_columns', 1000) #Para visualizar todas as linhas\n"

In [47]:
#Visualização 
dataset = pd.read_csv('db.csv', sep = ';')
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [48]:
# tipos dos dados / str == object
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [49]:
#Calcular estatistica descritiva
dataset [['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [50]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

In [51]:
#Tuplas
nome = 'Passat'
valor = 153000
(nome ,  valor)

('Passat', 153000)

In [52]:
nome_carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
nome_carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [53]:
type(nome_carros)

list

In [54]:
#transformando uma lista em tupla
nome_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [55]:
type(nome_carros)

tuple

In [56]:
nome_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5',('Fusca', 'Gol', 'C4'))
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [57]:
nome_carros[2]

'Crossfox'

In [58]:
nome_carros[1:3]

('Passat', 'Crossfox')

In [59]:
nome_carros[-1][1]

'Gol'

In [60]:
nome_carros[-1]

('Fusca', 'Gol', 'C4')

In [61]:
#Interação com tuplas
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [62]:
carros[0][3]

False

In [63]:
carros[-1][-1][-1]

'Freios ABS'

In [64]:
carros[0][-1][:2]

('Rodas de liga', 'Travas elétricas')

In [65]:
for item in carros:
    print(item)

('Jetta Variant', 'Motor 4.0 Turbo', 2003, False, ('Rodas de liga', 'Travas elétricas', 'Piloto automático'))
('Passat', 'Motor Diesel', 1991, True, ('Central multimídia', 'Teto panorâmico', 'Freios ABS'))

In [66]:

nome_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [67]:
#Desempacotamento de tuplas
carro_1, carro_2, carro_3, carro_4 = nome_carros

In [68]:
carro_1

'Jetta Variant'

In [69]:
carro_4

'DS5'

In [70]:
#Ignorando o valor das variaveis 
_, A, _, B = nome_carros

A

'Passat'

In [71]:
B

'DS5'

In [72]:
#Ignorando o valor das variaveis (Todos que não me enterassa pos o C, discarto com *_ )
_, C, *_ = nome_carros

C

'Passat'

## zip realiza interação com tuplas

In [73]:
# ZIP realiza interação com tuplas
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [74]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [75]:
zip(carros, valores)

In [76]:
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [77]:
for item  in zip(carros, valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [78]:
for item in zip(carros, valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [79]:
for carro, valor in zip(carros, valores):
    print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [80]:
for carro, valor in zip(carros, valores):
    if(valor > 100000):
        print(carro)

Passat
DS5

In [81]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [82]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [83]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [84]:
carros.index('Passat')

1

In [85]:
valores[carros.index('Passat')]

106161.94