# Python para Data Science: Introdução à linguagem e Numpy - parte 2

In [4]:
import numpy as np

In [9]:
from numpy import arange
np.arange(10)

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [12]:
km = np.array([1000, 2300, 4985, 1400, 6482])
km

array([1000, 2300, 4985, 1400, 6482])

In [13]:
type(km)

numpy.ndarray

In [14]:
km.dtype

dtype('int32')

In [16]:
km = np.loadtxt(fname = 'carros-km.txt', dtype = int)

km

array([ 44410,   5712,  37123,      0,  25757,  10728,      0,  77599,
        99197,  37978,  12859,   8052,  89773,      0,  41457, 115607,
        46449,      0,  37086,  15173, 101193,      0,  98079, 102959,
            0,      0,   5795,      0,  58848,  94381,  30163,  53332,
        17720,  33808,  90684,  43975,      0,      0,   5526,      0,
        93415,  40762,      0,  86302,      0,   9755,  69945,   2395,
            0,  80349,  85554,  50496,  67716,  93947,  35345,  81007,
       119513,      0,      0,      0,      0,      0, 118895,  48509,
       100912,  95649,      0,  90495,      0,  29132,  23802,  84992,
        54395,  26731,  44329, 118236, 113808,    610,      0,      0,
        12887,  79607,  90924,  42733,      0,      0, 117714, 113885,
            0,  30511,  74867, 119760,   8356,  64247,  88661,   4539,
       110116,  33215,  92001,      0,  81708,  70641,      0,  91277,
        26544,  52596,  47503,  89056,  28834, 110564,  56638,  17357,
        74015,  15196,      0,  10821,      0,      0,   9595,  99052,
        52389, 119945,  96005,  31639,      0,  80187,      0,  58212,
        61672,  32017,      0,  56944,      0,  86519,   4821, 101025,
        30705,      0,  32555, 103389,      0,  55289,      0,      0,
       115930,  66437,  96800,  14237,  19896, 113045, 114942,   3173,
        83611,  25356,  88634,   2314,   2627,  52034,      0,      0,
        79577, 108201,  76453,  57683,  96610, 109001,  26212,  45971,
        49182,  49907,  38620,  60996,  73914, 107392,   9146,      0,
        17924,      0, 116949,  20476,  52804,   8849,  91724,  32056,
        74886,      0,      0,  52189,  83559,      0,  20328,      0,
        75577,  33659, 104341,  25510,  18965,  87161,   6652,  55738,
            0,      0,      0,  64320,      0,  68678,  71697,      0,
        34783,  33772,  85127,  13606,  35647,  95128,  14046,  41194,
            0,  96100, 103900,  43814,  24638,      0, 110966,  15987,
        53369,  10077,  71544,    107,   8394,  41498, 116002, 100858,
        67475,   8497,   4420,      0,  58537,      0,      0, 112016,
        91840, 112787,      0,      0,   9293,      0,  55083,  48796,
            0,  89685,  85384,  98108,  71280,  27505,  29981,  52637,
         7685,  50188])

In [17]:
km.dtype

dtype('int32')

In [18]:
dados = [ 
    ['Rodas de liga', 'Travas elétricas', 'Piloto automático', 'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento', 'Sensor crepuscular', 'Sensor de chuva'],
    ['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4', 'Painel digital', 'Piloto automático', 'Bancos de couro', 'Câmera de estacionamento'],
    ['Piloto automático', 'Controle de estabilidade', 'Sensor crepuscular', 'Freios ABS', 'Câmbio automático', 'Bancos de couro', 'Central multimídia', 'Vidros elétricos']
]
dados

[['Rodas de liga',
  'Travas elétricas',
  'Piloto automático',
  'Bancos de couro',
  'Ar condicionado',
  'Sensor de estacionamento',
  'Sensor crepuscular',
  'Sensor de chuva'],
 ['Central multimídia',
  'Teto panorâmico',
  'Freios ABS',
  '4 X 4',
  'Painel digital',
  'Piloto automático',
  'Bancos de couro',
  'Câmera de estacionamento'],
 ['Piloto automático',
  'Controle de estabilidade',
  'Sensor crepuscular',
  'Freios ABS',
  'Câmbio automático',
  'Bancos de couro',
  'Central multimídia',
  'Vidros elétricos']]

In [20]:
Acessorios = np.array(dados) 

Acessorios

array([['Rodas de liga', 'Travas elétricas', 'Piloto automático',
        'Bancos de couro', 'Ar condicionado', 'Sensor de estacionamento',
        'Sensor crepuscular', 'Sensor de chuva'],
       ['Central multimídia', 'Teto panorâmico', 'Freios ABS', '4 X 4',
        'Painel digital', 'Piloto automático', 'Bancos de couro',
        'Câmera de estacionamento'],
       ['Piloto automático', 'Controle de estabilidade',
        'Sensor crepuscular', 'Freios ABS', 'Câmbio automático',
        'Bancos de couro', 'Central multimídia', 'Vidros elétricos']],
      dtype='<U24')

In [21]:
# 258 linhas
km.shape

(258,)

In [22]:
# 3 linhas  e 8  colunas
Acessorios.shape

(3, 8)

In [23]:
np_array = np.arange(10000000)

In [24]:
py_list = list(range(10000000))

In [26]:
# Ver desempenho da linha de codigo que esta sendo execultada
%time for _ in range (100): np_array *= 2

CPU times: total: 641 ms
Wall time: 684 ms

In [29]:
%time for _ in range(100): py_list = [x * 2 for x in py_list]

CPU times: total: 1min 38s
Wall time: 1min 42s

In [30]:
# Calculo idade com Numpy
km = np.array([44410, 5712, 37123, 0, 25757])
anos = np.array([2003, 1991, 1990, 2019, 2006])

In [31]:
idade = 2019 - anos
idade

array([16, 28, 29,  0, 13])

In [33]:
#Operações entre array
km_media = km / idade
km_media

C:\Users\aline\AppData\Local\Temp\ipykernel_6844\998762443.py:1: RuntimeWarning: invalid value encountered in true_divide
  km_media = km / idade

array([2775.625     ,  204.        , 1280.10344828,           nan,
       1981.30769231])

In [34]:
#Operações com array de duas dimensões 

dados = np.array([km, anos])
dados

array([[44410,  5712, 37123,     0, 25757],
       [ 2003,  1991,  1990,  2019,  2006]])

In [36]:
dados.shape

(2, 5)

In [38]:
dados[0] [0]

44410

In [41]:
km_media = dados[0] / (2019 - dados[1])
km_media

C:\Users\aline\AppData\Local\Temp\ipykernel_6844\4063055428.py:1: RuntimeWarning: invalid value encountered in true_divide
  km_media = dados[0] / (2019 - dados[1])

array([2775.625     ,  204.        , 1280.10344828,           nan,
       1981.30769231])

In [42]:
#Seleções com arrays

contador = np.arange(10)
contador

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [45]:
#mostrar item especifico, seleciona o 6 pra mostrar o 5

item = 6
index = item -1
contador[index]

5

In [46]:
contador [-1]

9

In [47]:
dados[0]

array([44410,  5712, 37123,     0, 25757])

In [48]:
dados[1]

array([2003, 1991, 1990, 2019, 2006])

In [49]:
dados[1][2]

1990

In [50]:
dados[1, 2]

1990

In [51]:
#Fatiamento i: onde inicia  j:ponto de parada k: passo

contador = np.arange(10)
contador

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [52]:
contador[1:4]

array([1, 2, 3])

In [53]:
contador[1:8:2]

array([1, 3, 5, 7])

In [55]:
#Varrendo toda a array de dois em dois
contador[::2]

array([0, 2, 4, 6, 8])

In [54]:
dados[:, 1:3]

array([[ 5712, 37123],
       [ 1991,  1990]])

In [56]:
dados[:, 1:3] [0]

array([ 5712, 37123])

In [57]:
dados[0]/ (2019 - dados[1])

C:\Users\aline\AppData\Local\Temp\ipykernel_6844\2079376839.py:1: RuntimeWarning: invalid value encountered in true_divide
  dados[0]/ (2019 - dados[1])

array([2775.625     ,  204.        , 1280.10344828,           nan,
       1981.30769231])

In [59]:
contador = np.arange(20)
contador

array([ 0,  1,  2,  3,  4,  5,  6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16,
       17, 18, 19])

In [60]:
contador > 5

array([False, False, False, False, False, False,  True,  True,  True,
        True,  True,  True,  True,  True,  True,  True,  True,  True,
        True,  True])

In [61]:
contador[contador > 5]

array([ 6,  7,  8,  9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19])

In [62]:
dados

array([[44410,  5712, 37123,     0, 25757],
       [ 2003,  1991,  1990,  2019,  2006]])

In [63]:
dados [1] > 2000

array([ True, False, False,  True,  True])

In [64]:
dados [:, dados[1] > 2000]

array([[44410,     0, 25757],
       [ 2003,  2019,  2006]])

In [65]:
dados = np.array(
    [
        ['Roberto', 'casado', 'masculino'],
        ['Sheila', 'solteiro', 'feminino'],
        ['Bruno', 'solteiro', 'masculino'],
        ['Rita', 'casado', 'feminino']
    ]
)

In [66]:
dados[0::2, :2]

array([['Roberto', 'casado'],
       ['Bruno', 'solteiro']], dtype='<U9')

In [75]:
dados = np.array([[44410, 5712, 37123, 0, 25757] ,
                [2003, 1991, 1990, 2019, 2006]])

dados

array([[44410,  5712, 37123,     0, 25757],
       [ 2003,  1991,  1990,  2019,  2006]])

In [76]:
# 2 linhas 5 colunas
dados.shape

(2, 5)

In [77]:
# Array com duas dimensões
dados.ndim

2

In [78]:
#Numero de elementos 
dados.size

10

In [79]:
# Rtorna o tipi dos elementos do array
dados.dtype

dtype('int32')

In [80]:
#Transforma  o array de linha para coluna e vice versa

dados.T

array([[44410,  2003],
       [ 5712,  1991],
       [37123,  1990],
       [    0,  2019],
       [25757,  2006]])

In [82]:
#Transforma  o array de linha para coluna e vice versa
dados.transpose()

array([[44410,  2003],
       [ 5712,  1991],
       [37123,  1990],
       [    0,  2019],
       [25757,  2006]])

In [87]:
# transforma o array  em uma lista 
dados.tolist()

[[44410, 5712, 37123, 0, 25757], [2003, 1991, 1990, 2019, 2006]]

In [112]:
contador = np.arange(10)
contador

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [113]:
#Retorna um array com os mesmo dados em uma nova forma
contador.reshape((5, 2))

array([[0, 1],
       [2, 3],
       [4, 5],
       [6, 7],
       [8, 9]])

In [115]:
#Retorna um array com os mesmo dados em uma nova forma Ordenada
contador.reshape((5, 2), order='F')

array([[0, 5],
       [1, 6],
       [2, 7],
       [3, 8],
       [4, 9]])

In [118]:
km = [44410, 5712, 37123, 0 , 25757]
anos = [2003, 19910, 1990, 2019, 2006]

In [122]:
#Concatenação

info_carros = km + anos
info_carros

[44410, 5712, 37123, 0, 25757, 2003, 19910, 1990, 2019, 2006]

In [123]:
np.array(info_carros).reshape((2, 5))

array([[44410,  5712, 37123,     0, 25757],
       [ 2003, 19910,  1990,  2019,  2006]])

In [125]:
np.array(info_carros).reshape((5, 2), order='F')

array([[44410,  2003],
       [ 5712, 19910],
       [37123,  1990],
       [    0,  2019],
       [25757,  2006]])

In [126]:
dados_new = dados.copy()
dados_new

array([[44410,  5712, 37123,     0, 25757],
       [ 2003,  1991,  1990,  2019,  2006]])

In [129]:
dados_new.resize((3, 5), refcheck=False)
dados_new

array([[44410,  5712, 37123,     0, 25757],
       [ 2003,  1991,  1990,  2019,  2006],
       [    0,     0,     0,     0,     0]])

In [131]:
dados_new[2] = dados_new[0] / (2019 - dados_new[1])
dados_new

C:\Users\aline\AppData\Local\Temp\ipykernel_6844\3664879450.py:1: RuntimeWarning: invalid value encountered in true_divide
  dados_new[2] = dados_new[0] / (2019 - dados_new[1])

array([[      44410,        5712,       37123,           0,       25757],
       [       2003,        1991,        1990,        2019,        2006],
       [       2775,         204,        1280, -2147483648,        1981]])

In [132]:
anos = np.loadtxt(fname= "carros-anos.txt", dtype = int)
km = np.loadtxt (fname= "carros-km.txt")
valor = np.loadtxt(fname = "carros-valor.txt")

In [133]:
# array de uma dimesão com 258 linhas
anos.shape

(258,)

In [135]:
#Transforma arrays unidimensionais em um array bidimensionais
dataset = np.column_stack((anos, km, valor))
dataset

array([[2.0030000e+03, 4.4410000e+04, 8.8078640e+04],
       [1.9910000e+03, 5.7120000e+03, 1.0616194e+05],
       [1.9900000e+03, 3.7123000e+04, 7.2832160e+04],
       [2.0190000e+03, 0.0000000e+00, 1.2454907e+05],
       [2.0060000e+03, 2.5757000e+04, 9.2612100e+04],
       [2.0120000e+03, 1.0728000e+04, 9.7497730e+04],
       [2.0190000e+03, 0.0000000e+00, 5.6445200e+04],
       [2.0090000e+03, 7.7599000e+04, 1.1231044e+05],
       [2.0100000e+03, 9.9197000e+04, 1.2071627e+05],
       [2.0110000e+03, 3.7978000e+04, 7.6566490e+04],
       [2.0020000e+03, 1.2859000e+04, 7.1647590e+04],
       [2.0070000e+03, 8.0520000e+03, 7.3919530e+04],
       [2.0010000e+03, 8.9773000e+04, 1.1273299e+05],
       [2.0190000e+03, 0.0000000e+00, 5.3183380e+04],
       [2.0090000e+03, 4.1457000e+04, 1.2748842e+05],
       [2.0160000e+03, 1.1560700e+05, 5.9910400e+04],
       [2.0120000e+03, 4.6449000e+04, 6.1118590e+04],
       [2.0190000e+03, 0.0000000e+00, 8.8552390e+04],
       [2.0160000e+03, 3.7086000e+04, 6.2696690e+04],
       [2.0170000e+03, 1.5173000e+04, 1.0172630e+05],
       [2.0020000e+03, 1.0119300e+05, 1.0614738e+05],
       [2.0190000e+03, 0.0000000e+00, 9.4564400e+04],
       [1.9940000e+03, 9.8079000e+04, 1.3352984e+05],
       [1.9910000e+03, 1.0295900e+05, 1.2568465e+05],
       [2.0190000e+03, 0.0000000e+00, 1.2159621e+05],
       [2.0190000e+03, 0.0000000e+00, 7.1367100e+04],
       [2.0160000e+03, 5.7950000e+03, 9.5347750e+04],
       [2.0190000e+03, 0.0000000e+00, 1.0543284e+05],
       [2.0020000e+03, 5.8848000e+04, 5.7045270e+04],
       [1.9910000e+03, 9.4381000e+04, 1.2043270e+05],
       [1.9970000e+03, 3.0163000e+04, 7.0707200e+04],
       [1.9950000e+03, 5.3332000e+04, 6.9105180e+04],
       [2.0180000e+03, 1.7720000e+04, 5.9358690e+04],
       [1.9910000e+03, 3.3808000e+04, 6.5955400e+04],
       [2.0140000e+03, 9.0684000e+04, 6.0017030e+04],
       [1.9950000e+03, 4.3975000e+04, 1.1890952e+05],
       [2.0190000e+03, 0.0000000e+00, 5.1606590e+04],
       [2.0190000e+03, 0.0000000e+00, 1.2328187e+05],
       [2.0090000e+03, 5.5260000e+03, 6.9770180e+04],
       [2.0190000e+03, 0.0000000e+00, 1.0260954e+05],
       [2.0130000e+03, 9.3415000e+04, 6.7997190e+04],
       [2.0030000e+03, 4.0762000e+04, 1.3523529e+05],
       [2.0190000e+03, 0.0000000e+00, 8.6641340e+04],
       [2.0020000e+03, 8.6302000e+04, 1.3681839e+05],
       [2.0190000e+03, 0.0000000e+00, 1.1762673e+05],
       [2.0020000e+03, 9.7550000e+03, 5.6208700e+04],
       [2.0040000e+03, 6.9945000e+04, 8.4222650e+04],
       [2.0010000e+03, 2.3950000e+03, 9.0781650e+04],
       [2.0190000e+03, 0.0000000e+00, 6.4701100e+04],
       [2.0030000e+03, 8.0349000e+04, 1.2635049e+05],
       [2.0090000e+03, 8.5554000e+04, 1.4815289e+05],
       [2.0060000e+03, 5.0496000e+04, 1.3229883e+05],
       [2.0000000e+03, 6.7716000e+04, 1.3762763e+05],
       [2.0060000e+03, 9.3947000e+04, 8.0422710e+04],
       [2.0100000e+03, 3.5345000e+04, 5.6373990e+04],
       [1.9940000e+03, 8.1007000e+04, 7.0846030e+04],
       [2.0070000e+03, 1.1951300e+05, 1.2869423e+05],
       [2.0190000e+03, 0.0000000e+00, 1.3332919e+05],
       [2.0190000e+03, 0.0000000e+00, 1.3196143e+05],
       [2.0190000e+03, 0.0000000e+00, 1.1203327e+05],
       [2.0190000e+03, 0.0000000e+00, 8.1399350e+04],
       [2.0190000e+03, 0.0000000e+00, 9.7163100e+04],
       [2.0170000e+03, 1.1889500e+05, 6.6007160e+04],
       [2.0110000e+03, 4.8509000e+04, 1.2877622e+05],
       [2.0010000e+03, 1.0091200e+05, 1.4262302e+05],
       [1.9960000e+03, 9.5649000e+04, 1.3693013e+05],
       [2.0190000e+03, 0.0000000e+00, 6.6526610e+04],
       [1.9940000e+03, 9.0495000e+04, 1.1415487e+05],
       [2.0190000e+03, 0.0000000e+00, 1.4239275e+05],
       [2.0070000e+03, 2.9132000e+04, 1.4671691e+05],
       [1.9940000e+03, 2.3802000e+04, 1.2248568e+05],
       [2.0070000e+03, 8.4992000e+04, 9.7951030e+04],
       [1.9970000e+03, 5.4395000e+04, 7.8283490e+04],
       [2.0060000e+03, 2.6731000e+04, 8.3434040e+04],
       [2.0130000e+03, 4.4329000e+04, 7.7836230e+04],
       [1.9940000e+03, 1.1823600e+05, 6.0813920e+04],
       [2.0080000e+03, 1.1380800e+05, 9.1353860e+04],
       [2.0080000e+03, 6.1000000e+02, 1.1628121e+05],
       [2.0190000e+03, 0.0000000e+00, 1.4519770e+05],
       [2.0190000e+03, 0.0000000e+00, 5.0742100e+04],
       [1.9990000e+03, 1.2887000e+04, 7.3033530e+04],
       [2.0070000e+03, 7.9607000e+04, 5.4332870e+04],
       [1.9930000e+03, 9.0924000e+04, 5.2207450e+04],
       [1.9950000e+03, 4.2733000e+04, 6.3578500e+04],
       [2.0190000e+03, 0.0000000e+00, 6.4507720e+04],
       [2.0190000e+03, 0.0000000e+00, 1.1507559e+05],
       [2.0160000e+03, 1.1771400e+05, 1.3303060e+05],
       [2.0110000e+03, 1.1388500e+05, 1.4159186e+05],
       [2.0190000e+03, 0.0000000e+00, 1.0038028e+05],
       [2.0020000e+03, 3.0511000e+04, 9.6369040e+04],
       [2.0130000e+03, 7.4867000e+04, 1.4260384e+05],
       [2.0170000e+03, 1.1976000e+05, 1.1770967e+05],
       [2.0160000e+03, 8.3560000e+03, 1.0224154e+05],
       [2.0080000e+03, 6.4247000e+04, 9.6065380e+04],
       [2.0180000e+03, 8.8661000e+04, 5.3894610e+04],
       [2.0030000e+03, 4.5390000e+03, 1.2391178e+05],
       [2.0030000e+03, 1.1011600e+05, 1.0199635e+05],
       [2.0040000e+03, 3.3215000e+04, 8.3431660e+04],
       [2.0100000e+03, 9.2001000e+04, 1.2297563e+05],
       [2.0190000e+03, 0.0000000e+00, 9.3227730e+04],
       [2.0060000e+03, 8.1708000e+04, 5.8762650e+04],
       [2.0010000e+03, 7.0641000e+04, 1.3954967e+05],
       [2.0190000e+03, 0.0000000e+00, 1.2201642e+05],
       [2.0150000e+03, 9.1277000e+04, 7.2731980e+04],
       [2.0180000e+03, 2.6544000e+04, 8.8416540e+04],
       [2.0170000e+03, 5.2596000e+04, 7.3873420e+04],
       [1.9920000e+03, 4.7503000e+04, 7.0709340e+04],
       [2.0010000e+03, 8.9056000e+04, 1.1530650e+05],
       [1.9930000e+03, 2.8834000e+04, 5.5924630e+04],
       [1.9950000e+03, 1.1056400e+05, 8.5052260e+04],
       [2.0030000e+03, 5.6638000e+04, 5.6646340e+04],
       [2.0140000e+03, 1.7357000e+04, 1.3894688e+05],
       [2.0080000e+03, 7.4015000e+04, 1.0825672e+05],
       [2.0130000e+03, 1.5196000e+04, 5.8979300e+04],
       [2.0190000e+03, 0.0000000e+00, 1.1472768e+05],
       [2.0170000e+03, 1.0821000e+04, 1.3966148e+05],
       [2.0190000e+03, 0.0000000e+00, 8.0382240e+04],
       [2.0190000e+03, 0.0000000e+00, 1.4915717e+05],
       [2.0060000e+03, 9.5950000e+03, 8.7830410e+04],
       [2.0150000e+03, 9.9052000e+04, 1.4356822e+05],
       [2.0070000e+03, 5.2389000e+04, 1.3817185e+05],
       [2.0050000e+03, 1.1994500e+05, 1.1578495e+05],
       [2.0170000e+03, 9.6005000e+04, 1.4650899e+05],
       [1.9980000e+03, 3.1639000e+04, 1.3767023e+05],
       [2.0190000e+03, 0.0000000e+00, 1.3859727e+05],
       [1.9990000e+03, 8.0187000e+04, 1.4762781e+05],
       [2.0190000e+03, 0.0000000e+00, 6.2999020e+04],
       [2.0090000e+03, 5.8212000e+04, 9.1242440e+04],
       [2.0030000e+03, 6.1672000e+04, 1.4948992e+05],
       [1.9940000e+03, 3.2017000e+04, 6.3529950e+04],
       [2.0190000e+03, 0.0000000e+00, 5.8525410e+04],
       [1.9940000e+03, 5.6944000e+04, 9.0345050e+04],
       [2.0190000e+03, 0.0000000e+00, 1.4777087e+05],
       [2.0150000e+03, 8.6519000e+04, 1.0661771e+05],
       [1.9960000e+03, 4.8210000e+03, 1.0492988e+05],
       [1.9970000e+03, 1.0102500e+05, 1.0071245e+05],
       [1.9930000e+03, 3.0705000e+04, 1.4198293e+05],
       [2.0190000e+03, 0.0000000e+00, 1.0403879e+05],
       [1.9920000e+03, 3.2555000e+04, 8.8501540e+04],
       [1.9950000e+03, 1.0338900e+05, 7.9782020e+04],
       [2.0190000e+03, 0.0000000e+00, 8.6224100e+04],
       [1.9900000e+03, 5.5289000e+04, 1.0359618e+05],
       [2.0190000e+03, 0.0000000e+00, 1.4899647e+05],
       [2.0190000e+03, 0.0000000e+00, 6.0948010e+04],
       [1.9910000e+03, 1.1593000e+05, 6.9535440e+04],
       [1.9900000e+03, 6.6437000e+04, 1.1113033e+05],
       [2.0120000e+03, 9.6800000e+04, 6.5847690e+04],
       [2.0070000e+03, 1.4237000e+04, 7.8096060e+04],
       [2.0130000e+03, 1.9896000e+04, 6.9219890e+04],
       [2.0000000e+03, 1.1304500e+05, 1.4411891e+05],
       [2.0020000e+03, 1.1494200e+05, 7.7397050e+04],
       [1.9960000e+03, 3.1730000e+03, 6.8974250e+04],
       [1.9960000e+03, 8.3611000e+04, 1.2523130e+05],
       [2.0150000e+03, 2.5356000e+04, 8.5501120e+04],
       [1.9930000e+03, 8.8634000e+04, 1.3711621e+05],
       [2.0130000e+03, 2.3140000e+03, 1.3882381e+05],
       [2.0130000e+03, 2.6270000e+03, 1.1796195e+05],
       [2.0090000e+03, 5.2034000e+04, 1.3266232e+05],
       [2.0190000e+03, 0.0000000e+00, 1.4640579e+05],
       [2.0190000e+03, 0.0000000e+00, 8.1999210e+04],
       [2.0020000e+03, 7.9577000e+04, 1.4093460e+05],
       [1.9970000e+03, 1.0820100e+05, 8.2366810e+04],
       [1.9980000e+03, 7.6453000e+04, 7.0424110e+04],
       [2.0040000e+03, 5.7683000e+04, 5.3620310e+04],
       [1.9960000e+03, 9.6610000e+04, 7.3389180e+04],
       [2.0150000e+03, 1.0900100e+05, 1.1161812e+05],
       [2.0160000e+03, 2.6212000e+04, 1.1218737e+05],
       [2.0050000e+03, 4.5971000e+04, 1.2081257e+05],
       [1.9990000e+03, 4.9182000e+04, 1.1603104e+05],
       [1.9950000e+03, 4.9907000e+04, 1.2539811e+05],
       [1.9930000e+03, 3.8620000e+04, 7.6101470e+04],
       [2.0040000e+03, 6.0996000e+04, 7.5263240e+04],
       [2.0130000e+03, 7.3914000e+04, 1.4738776e+05],
       [1.9980000e+03, 1.0739200e+05, 8.5311400e+04],
       [2.0180000e+03, 9.1460000e+03, 5.4388110e+04],
       [2.0190000e+03, 0.0000000e+00, 1.2415665e+05],
       [2.0180000e+03, 1.7924000e+04, 1.4620334e+05],
       [2.0190000e+03, 0.0000000e+00, 5.6453940e+04],
       [1.9900000e+03, 1.1694900e+05, 6.8873790e+04],
       [2.0090000e+03, 2.0476000e+04, 9.1667610e+04],
       [1.9900000e+03, 5.2804000e+04, 9.3776520e+04],
       [2.0060000e+03, 8.8490000e+03, 6.6433820e+04],
       [2.0020000e+03, 9.1724000e+04, 1.0905927e+05],
       [1.9910000e+03, 3.2056000e+04, 1.2206997e+05],
       [1.9920000e+03, 7.4886000e+04, 1.1309032e+05],
       [2.0190000e+03, 0.0000000e+00, 8.9401100e+04],
       [2.0190000e+03, 0.0000000e+00, 5.6842790e+04],
       [2.0050000e+03, 5.2189000e+04, 1.4667671e+05],
       [2.0100000e+03, 8.3559000e+04, 8.9511960e+04],
       [2.0190000e+03, 0.0000000e+00, 9.7290180e+04],
       [2.0160000e+03, 2.0328000e+04, 1.2067356e+05],
       [2.0190000e+03, 0.0000000e+00, 1.1443494e+05],
       [2.0100000e+03, 7.5577000e+04, 1.3954669e+05],
       [1.9940000e+03, 3.3659000e+04, 9.5078160e+04],
       [2.0010000e+03, 1.0434100e+05, 6.8091770e+04],
       [2.0140000e+03, 2.5510000e+04, 6.1496970e+04],
       [1.9960000e+03, 1.8965000e+04, 1.3966930e+05],
       [1.9930000e+03, 8.7161000e+04, 8.0661390e+04],
       [1.9930000e+03, 6.6520000e+03, 6.1783650e+04],
       [2.0010000e+03, 5.5738000e+04, 5.2805910e+04],
       [2.0190000e+03, 0.0000000e+00, 1.2702475e+05],
       [2.0190000e+03, 0.0000000e+00, 1.3554300e+05],
       [2.0190000e+03, 0.0000000e+00, 1.2170873e+05],
       [2.0070000e+03, 6.4320000e+04, 1.0734268e+05],
       [2.0190000e+03, 0.0000000e+00, 5.7888100e+04],
       [2.0160000e+03, 6.8678000e+04, 1.1816148e+05],
       [2.0140000e+03, 7.1697000e+04, 1.4249906e+05],
       [2.0190000e+03, 0.0000000e+00, 1.2839611e+05],
       [2.0150000e+03, 3.4783000e+04, 1.1235061e+05],
       [2.0150000e+03, 3.3772000e+04, 1.2466138e+05],
       [1.9960000e+03, 8.5127000e+04, 5.4263160e+04],
       [2.0020000e+03, 1.3606000e+04, 6.2041320e+04],
       [2.0050000e+03, 3.5647000e+04, 1.2929611e+05],
       [1.9950000e+03, 9.5128000e+04, 6.0998330e+04],
       [1.9990000e+03, 1.4046000e+04, 5.8008500e+04],
       [2.0050000e+03, 4.1194000e+04, 8.2304190e+04],
       [2.0190000e+03, 0.0000000e+00, 1.1453174e+05],
       [1.9970000e+03, 9.6100000e+04, 1.2856561e+05],
       [1.9900000e+03, 1.0390000e+05, 1.2648826e+05],
       [2.0010000e+03, 4.3814000e+04, 1.1907455e+05],
       [2.0130000e+03, 2.4638000e+04, 1.3023804e+05],
       [2.0190000e+03, 0.0000000e+00, 1.1576017e+05],
       [2.0170000e+03, 1.1096600e+05, 1.2124800e+05],
       [2.0110000e+03, 1.5987000e+04, 9.8156350e+04],
       [2.0050000e+03, 5.3369000e+04, 1.1214680e+05],
       [2.0070000e+03, 1.0077000e+04, 1.0272963e+05],
       [1.9930000e+03, 7.1544000e+04, 1.4108335e+05],
       [1.9910000e+03, 1.0700000e+02, 1.0296876e+05],
       [1.9910000e+03, 8.3940000e+03, 7.6310010e+04],
       [1.9970000e+03, 4.1498000e+04, 1.2048174e+05],
       [2.0000000e+03, 1.1600200e+05, 5.4559180e+04],
       [2.0070000e+03, 1.0085800e+05, 9.2957640e+04],
       [2.0060000e+03, 6.7475000e+04, 1.2781006e+05],
       [2.0150000e+03, 8.4970000e+03, 7.3311750e+04],
       [2.0080000e+03, 4.4200000e+03, 6.5138030e+04],
       [2.0190000e+03, 0.0000000e+00, 9.0141470e+04],
       [1.9960000e+03, 5.8537000e+04, 7.1160360e+04],
       [2.0190000e+03, 0.0000000e+00, 6.7539790e+04],
       [2.0190000e+03, 0.0000000e+00, 6.7664860e+04],
       [2.0140000e+03, 1.1201600e+05, 6.8652160e+04],
       [2.0040000e+03, 9.1840000e+04, 1.1472874e+05],
       [2.0080000e+03, 1.1278700e+05, 1.4164508e+05],
       [2.0190000e+03, 0.0000000e+00, 1.2624784e+05],
       [2.0190000e+03, 0.0000000e+00, 1.2885221e+05],
       [2.0120000e+03, 9.2930000e+03, 1.3238476e+05],
       [2.0190000e+03, 0.0000000e+00, 1.2941533e+05],
       [1.9960000e+03, 5.5083000e+04, 8.9536820e+04],
       [2.0110000e+03, 4.8796000e+04, 8.7975300e+04],
       [2.0190000e+03, 0.0000000e+00, 7.7675790e+04],
       [2.0100000e+03, 8.9685000e+04, 5.8881670e+04],
       [2.0070000e+03, 8.5384000e+04, 5.5081990e+04],
       [1.9940000e+03, 9.8108000e+04, 1.1882644e+05],
       [2.0070000e+03, 7.1280000e+04, 1.3762762e+05],
       [2.0140000e+03, 2.7505000e+04, 5.1759580e+04],
       [1.9910000e+03, 2.9981000e+04, 5.1667060e+04],
       [2.0020000e+03, 5.2637000e+04, 6.8934030e+04],
       [1.9960000e+03, 7.6850000e+03, 1.2211090e+05],
       [1.9920000e+03, 5.0188000e+04, 9.0381470e+04]])

In [136]:
dataset.shape

(258, 3)

In [137]:
np.mean(dataset)

48489.14648578811

In [138]:
#media da kilometragem 
np.mean(dataset[:,1])

44499.41472868217

In [139]:
np.mean(dataset[:,2])

98960.51310077519

In [140]:
#desvio padrão
np.std(dataset[:,2])

29754.101150388564

In [141]:
#Somatorios, passa o eixo em que estar trabalhando
dataset.sum(axis=0)

array([  517938.        , 11480849.        , 25531812.37999999])

In [143]:
dataset[:, 1].sum()

11480849.0

In [144]:
np.sum(dataset, axis = 0)

array([  517938.        , 11480849.        , 25531812.37999999])

In [145]:
np.sum(dataset[:, 2])

25531812.38