# <font color='green' style='font-size: 30px backgound =;'>Python para Data Science: Funções, Pacotes e Pandas - II</font>
<hr style='border: 2px solid green;'>

##### 03- Mapeando dados: Dicionários ...continuação

In [28]:
import pandas as pd

In [29]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [30]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [31]:
carros.index('Passat')

1

In [32]:
valores[carros.index('Passat')]

106161.94

In [33]:
dados = {
'Jetta_Variante' : 88078.64,
'Passat': 106161.94,
'Crossfox': 72832.16 , 
'DS5':124549.07
}

dados

{'Jetta_Variante': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [34]:
#Tipo dicionário
type(dados)

dict

Criando dicionários com zip()

In [35]:
#Criando dicionário com zip()

list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [36]:
dados = dict(zip(carros, valores))
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [37]:
#acessando um valor detro do dicionário

dados['Passat']

106161.94

In [38]:
# verifica se existe tal chave dentro do dicionário
'Passat' in dados

True

In [39]:
'Fusca' in dados

False

In [40]:
'Fusca' not in dados

True

In [41]:
# len 
len(dados)

4

In [42]:
#Incluir um item ao dicionário (nome do dicionario['chave']=valor)
dados['DS5'] = 124549.07
dados

{'Jetta Variant': 88078.64,
 'Passat': 106161.94,
 'Crossfox': 72832.16,
 'DS5': 124549.07}

In [43]:
#Incluir um item ao dicionário
del dados['Passat'] 
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [44]:
dados

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [45]:
#update (Atualizações)
dados.update({'passat': 106161.94})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'passat': 106161.94}

In [46]:
#Atualizando e incluindo
dados.update({'passat': 106161.98, 'Fusca': 150000})
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'passat': 106161.98,
 'Fusca': 150000}

In [47]:
#Gerando copia do dicionário

dadosCopy = dados.copy()
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'passat': 106161.98,
 'Fusca': 150000}

In [48]:
#Eliminando o item fusca
del dadosCopy['Fusca']
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'passat': 106161.98}

In [49]:
#Alterou somente a copia, mas não o original
dados

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'passat': 106161.98,
 'Fusca': 150000}

In [50]:
#POP (elimina item, é necessario indicar o item a ser apagado)
dadosCopy

{'Jetta Variant': 88078.64,
 'Crossfox': 72832.16,
 'DS5': 124549.07,
 'passat': 106161.98}

In [51]:
dadosCopy.pop('passat')

106161.98

In [52]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16, 'DS5': 124549.07}

In [55]:
#Gera erro que precisa ser tratado
dadosCopy.pop('passat')

KeyError: 'passat'

In [56]:
#tratamento de erro
dadosCopy.pop('passat','Chave não encontrada')

'Chave não encontrada'

In [57]:
#tratamento de erro(Como item existe, não gerou erro)
dadosCopy.pop('DS5','Chave não encontrada')

124549.07

In [58]:
dadosCopy

{'Jetta Variant': 88078.64, 'Crossfox': 72832.16}

In [59]:
#Remove todos os itens do dicionário
dadosCopy.clear()

In [60]:
#Visualizando que ficou um dicionário vazio
dadosCopy

{}

Interando com dicionário

In [61]:
#Retorna uma lista contendo as chaves keys

dados.keys()

dict_keys(['Jetta Variant', 'Crossfox', 'DS5', 'passat', 'Fusca'])

In [66]:
#Para cada valor no dicionário retorne o valor
for key in dados.keys():
    print(dados[key])

88078.64
72832.16
124549.07
106161.98
150000

In [67]:
#retorna todos os valores
dados.values()

dict_values([88078.64, 72832.16, 124549.07, 106161.98, 150000])

In [68]:
#Retorna tupla com chave:valor
dados.items()

dict_items([('Jetta Variant', 88078.64), ('Crossfox', 72832.16), ('DS5', 124549.07), ('passat', 106161.98), ('Fusca', 150000)])

In [69]:
for item in dados.items():
    print(item)

('Jetta Variant', 88078.64)
('Crossfox', 72832.16)
('DS5', 124549.07)
('passat', 106161.98)
('Fusca', 150000)

In [70]:
#Desempacotamento de tuplas

for key, value in dados.items():
    print(key, value)

Jetta Variant 88078.64
Crossfox 72832.16
DS5 124549.07
passat 106161.98
Fusca 150000

In [71]:
for key, value in dados.items():
   if (value > 100000): 
      print(key)

DS5
passat
Fusca

##### 04- Organização do código: Funções e pacotes

Built-in function
print()- le() - set() - type()

In [72]:
dados = {'Jetta_Variante' : 88078.64, 'Passat': 106161.94,'Crossfox': 72832.16}
dados

{'Jetta_Variante': 88078.64, 'Passat': 106161.94, 'Crossfox': 72832.16}

In [73]:
valores =  [] # lista vazio
for valor in dados.values(): # varrer a lista
    valores.append(valor)    # add valores a lista
valores

[88078.64, 106161.94, 72832.16]

In [74]:
#Mesmo código de cima simplificado
list(dados.values())

[88078.64, 106161.94, 72832.16]

In [75]:
#Somando valores
soma = 0
for valor in dados.values():
    soma += valor
soma

267072.74

In [76]:
#Somando valores -  simplificado
sum(dados.values())

267072.74

In [77]:
#Começando a soma com 1 milhão
sum(dados.values(), 1000000)

1267072.7399999998

In [78]:
#Ajuda
help(print)

Help on built-in function print in module builtins:

print(...)
    print(value, ..., sep=' ', end='\n', file=sys.stdout, flush=False)

    Prints the values to a stream, or to sys.stdout by default.
    Optional keyword arguments:
    file:  a file-like object (stream); defaults to the current sys.stdout.
    sep:   string inserted between values, default a space.
    end:   string appended after the last value, default a newline.
    flush: whether to forcibly flush the stream.

Definições sem e compâmetros

In [79]:
# def <nome_da_função>():
#    <instruções>

In [80]:
def media():
    valor = (1 + 2 + 3) / 3
    print(valor)

In [81]:
media()

2.0

In [82]:
def media(valor_1, valor_2, valor_3): 
    valor = (valor_1 +  valor_2 + valor_3)/3
    print(valor)

In [83]:
media( 25, 49, 36)

36.666666666666664

In [84]:
media(23 ,45, 67)

45.0

In [85]:
def media(lista):
    valor = sum(lista)/len(lista)
    print(valor)

In [86]:
media([5,8,6,7,4,6,2])

5.428571428571429

In [87]:
def media(lista):
    valor = sum(lista)/len(lista)
    return(valor, len(lista))

In [88]:
#Chamando a função
media([5,8,6,7,4,6,2, 8, 6]) # Valor da média e o tamanho da lista

(5.777777777777778, 9)

In [89]:
resultado, n  = media([5,8,6,7,4,6,2, 8, 6])

In [90]:
#Resultado da média
resultado

5.777777777777778

In [91]:
#Tamanho da lista
n

9

##### 05- A biblioteca dos cientistas: Pandas

In [92]:
import pandas as pd

Criando uma series a partir de uma lista

In [93]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

Criando um DataFrame a partir de uma lista de dicionários

In [94]:
dados = [
    {'Nome': 'Jetta Variant', 'Motor': 'Motor 4.0 Turbo', 'Ano': 2003, 'Quilometragem': 44410.0, 'Zero_km': False, 'Valor': 88078.64},
    {'Nome': 'Passat', 'Motor': 'Motor Diesel', 'Ano': 1991, 'Quilometragem': 5712.0, 'Zero_km': False, 'Valor': 106161.94},
    {'Nome': 'Crossfox', 'Motor': 'Motor Diesel V8', 'Ano': 1990, 'Quilometragem': 37123.0, 'Zero_km': False, 'Valor': 72832.16}
]

In [95]:
dataset = pd.DataFrame(dados)

In [96]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

In [97]:
# Modificando a posição dos títulos

dataset[['Nome', 'Ano','Valor', 'Motor', 'Quilometragem', 'Zero_km', ]]

            Nome   Ano      Valor            Motor  Quilometragem  Zero_km
0  Jetta Variant  2003   88078.64  Motor 4.0 Turbo        44410.0    False
1         Passat  1991  106161.94     Motor Diesel         5712.0    False
2       Crossfox  1990   72832.16  Motor Diesel V8        37123.0    False

Criando um DataFrame a partir de um dicionário

In [98]:
dados = {
    'Nome': ['Jetta Variant', 'Passat', 'Crossfox'], 
    'Motor': ['Motor 4.0 Turbo', 'Motor Diesel', 'Motor Diesel V8'],
    'Ano': [2003, 1991, 1990],
    'Quilometragem': [44410.0, 5712.0, 37123.0],
    'Zero_km': [False, False, False],
    'Valor': [88078.64, 106161.94, 72832.16]
}

In [99]:
dataset = pd.DataFrame(dados)

In [100]:
dataset

            Nome            Motor   Ano  Quilometragem  Zero_km      Valor
0  Jetta Variant  Motor 4.0 Turbo  2003        44410.0    False   88078.64
1         Passat     Motor Diesel  1991         5712.0    False  106161.94
2       Crossfox  Motor Diesel V8  1990        37123.0    False   72832.16

Criando um DataFrame a partir de um arquivo externo

In [101]:
dataset = pd.read_csv('db.csv', sep=';')

In [102]:
dataset.head(3)

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16

In [103]:
#Transformando a númeração do inicio númerico em indice
dataset = pd.read_csv('db.csv', sep=';', index_col=0)

In [104]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

Selecionando colunas

In [105]:
dataset['Valor']

Nome
Jetta Variant             88078.64
Passat                   106161.94
Crossfox                  72832.16
DS5                      124549.07
Aston Martin DB4          92612.10
                           ...
Phantom 2013              51759.58
Cadillac Ciel concept     51667.06
Classe GLK                68934.03
Aston Martin DB5         122110.90
Macan                     90381.47
Name: Valor, Length: 258, dtype: float64

In [106]:
#frame.DataFrame
type(dataset[['Valor']])

pandas.core.frame.DataFrame

In [107]:
dataset[['Valor']]

                           Valor
Nome
Jetta Variant           88078.64
Passat                 106161.94
Crossfox                72832.16
DS5                    124549.07
Aston Martin DB4        92612.10
...                          ...
Phantom 2013            51759.58
Cadillac Ciel concept   51667.06
Classe GLK              68934.03
Aston Martin DB5       122110.90
Macan                   90381.47

[258 rows x 1 columns]

In [108]:
# Tipo series
type(dataset['Valor'])

pandas.core.series.Series

In [109]:
dataset[0:3]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16

<div>
.LOC </br>
Seleciona um grupo de linhas e colunas segundo os rótulos ou matriz booleana
</div>

In [110]:
dataset.loc['Passat']

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [ ]:
dataset.loc[['Passat']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [ ]:
dataset.loc[['Passat', 'DS5']]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [ ]:
#Mostrar [informações da linha], [informações da coluna]
dataset.loc[['Passat', 'DS5'],['Motor', 'Valor']]

                  Motor      Valor
Nome
Passat     Motor Diesel  106161.94
DS5     Motor 2.4 Turbo  124549.07

In [111]:
#Mostrar todas as linhas,e apenas determinadas variáveis
dataset.loc[:,['Motor', 'Valor']]

                                       Motor      Valor
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64
Passat                          Motor Diesel  106161.94
Crossfox                     Motor Diesel V8   72832.16
DS5                          Motor 2.4 Turbo  124549.07
Aston Martin DB4             Motor 2.4 Turbo   92612.10
...                                      ...        ...
Phantom 2013                        Motor V8   51759.58
Cadillac Ciel concept               Motor V8   51667.06
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03
Aston Martin DB5                Motor Diesel  122110.90
Macan                        Motor Diesel V6   90381.47

[258 rows x 2 columns]

<div>
.ILOC </br>
Seleciona com base nos índices, ou seja, se baseia na posição das informações
</div>

In [115]:
dataset.head(3)

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16

In [116]:
#Mostrar informações do item 1
dataset.iloc[1]

Motor                                                 Motor Diesel
Ano                                                           1991
Quilometragem                                               5712.0
Zero_km                                                      False
Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
Valor                                                    106161.94
Name: Passat, dtype: object

In [117]:
#Mostrar informações do item 1, visualização diferente
dataset.iloc[[1]]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94

In [118]:
dataset.iloc[1:4]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07

In [119]:
dataset.iloc[1:4,[0,5,2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Crossfox  Motor Diesel V8   72832.16        37123.0
DS5       Motor 2.4 Turbo  124549.07            NaN

In [120]:
dataset.iloc[[1, 42, 2],[0,5,2]]

                    Motor      Valor  Quilometragem
Nome
Passat       Motor Diesel  106161.94         5712.0
Optima      Motor 1.8 16v   86641.34            NaN
Crossfox  Motor Diesel V8   72832.16        37123.0

In [121]:
#Mostra todas as linhas, e determinadas varíaveis
dataset.iloc[:,[0,5,2]]

                                       Motor      Valor  Quilometragem
Nome
Jetta Variant                Motor 4.0 Turbo   88078.64        44410.0
Passat                          Motor Diesel  106161.94         5712.0
Crossfox                     Motor Diesel V8   72832.16        37123.0
DS5                          Motor 2.4 Turbo  124549.07            NaN
Aston Martin DB4             Motor 2.4 Turbo   92612.10        25757.0
...                                      ...        ...            ...
Phantom 2013                        Motor V8   51759.58        27505.0
Cadillac Ciel concept               Motor V8   51667.06        29981.0
Classe GLK             Motor 5.0 V8 Bi-Turbo   68934.03        52637.0
Aston Martin DB5                Motor Diesel  122110.90         7685.0
Macan                        Motor Diesel V6   90381.47        50188.0

[258 rows x 3 columns]

Queries com DataFrame

In [122]:
dataset.Motor

Nome
Jetta Variant                  Motor 4.0 Turbo
Passat                            Motor Diesel
Crossfox                       Motor Diesel V8
DS5                            Motor 2.4 Turbo
Aston Martin DB4               Motor 2.4 Turbo
                                 ...
Phantom 2013                          Motor V8
Cadillac Ciel concept                 Motor V8
Classe GLK               Motor 5.0 V8 Bi-Turbo
Aston Martin DB5                  Motor Diesel
Macan                          Motor Diesel V6
Name: Motor, Length: 258, dtype: object

In [123]:
#Mostrar itens que seja motor diesel
dataset.Motor == 'Motor Diesel'

Nome
Jetta Variant            False
Passat                    True
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5          True
Macan                    False
Name: Motor, Length: 258, dtype: bool

In [ ]:
type(select)

In [ ]:
dataset[select]

In [ ]:
#Retornar todos os itens que for Motor Diesel

dataset.Motor == 'Motor Diesel'

In [ ]:
#Mostrar itens que seja motor diesel e  zero km
dataset[(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

In [ ]:
#Mostrar itens que seja motor diesel e zero km
(dataset.Motor == 'Motor Diesel') & (dataset.Zero_km == True)

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                      False
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Length: 258, dtype: bool

Método query

In [ ]:


dataset.query('Motor == "Motor Diesel" and Zero_km == True')

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Sorento,Motor Diesel,2019,NaN,True,"['Sensor de chuva', 'Câmera de estacionamento'...",81399.35
Cielo Hatch,Motor Diesel,2019,NaN,True,"['Painel digital', 'Central multimídia', 'Câme...",145197.70
Camry,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Rodas de liga', 'Sensor ...",138597.27
Aston Martin Virage,Motor Diesel,2019,NaN,True,"['Travas elétricas', 'Controle de tração', 'Câ...",97290.18
Série 7 Sedã,Motor Diesel,2019,NaN,True,"['Vidros elétricos', 'Travas elétricas', 'Roda...",67539.79

Interação com DataFrame

In [ ]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
Nome,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [ ]:
for item in dataset:
    print(item)

Motor
Ano
Quilometragem
Zero_km
Acessórios
Valor

In [ ]:
#Interador
list(dataset.iterrows())

[('Jetta Variant',
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2003
  Quilometragem                                              44410.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Travas elétricas', 'Piloto ...
  Valor                                                     88078.64
  Name: Jetta Variant, dtype: object),
 ('Passat',
  Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                               5712.0
  Zero_km                                                      False
  Acessórios       ['Central multimídia', 'Teto panorâmico', 'Fre...
  Valor                                                    106161.94
  Name: Passat, dtype: object),
 ('Crossfox',
  Motor                                              Motor Diesel V8
  Ano                                                           1990
  Quilometragem                                              37123.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Controle de estabilidad...
  Valor                                                     72832.16
  Name: Crossfox, dtype: object),
 ('DS5',
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Travas elétricas', '4 X 4', 'Vidros elétrico...
  Valor                                                    124549.07
  Name: DS5, dtype: object),
 ('Aston Martin DB4',
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2006
  Quilometragem                                              25757.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', '4 X 4', 'Central multimídia...
  Valor                                                      92612.1
  Name: Aston Martin DB4, dtype: object),
 ('Palio Weekend',
  Motor                                                Motor 1.8 16v
  Ano                                                           2012
  Quilometragem                                              10728.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Teto panorâmico'...
  Valor                                                     97497.73
  Name: Palio Weekend, dtype: object),
 ('A5',
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Câmbio automático', 'Câmera de estacionament...
  Valor                                                      56445.2
  Name: A5, dtype: object),
 ('Série 3 Cabrio',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                              77599.0
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Sensor crepuscul...
  Valor                                                    112310.44
  Name: Série 3 Cabrio, dtype: object),
 ('Dodge Jorney',
  Motor                                                Motor 3.0 32v
  Ano                                                           2010
  Quilometragem                                              99197.0
  Zero_km                                                      False
  Acessórios       ['Vidros elétricos', 'Piloto automático', 'Tet...
  Valor                                                    120716.27
  Name: Dodge Jorney, dtype: object),
 ('Carens',
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2011
  Quilometragem                                              37978.0
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Painel digital', 'Central...
  Valor                                                     76566.49
  Name: Carens, dtype: object),
 ('Ford Edge',
  Motor                                              Motor Diesel V6
  Ano                                                           2002
  Quilometragem                                              12859.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Rodas de liga', 'Teto ...
  Valor                                                     71647.59
  Name: Ford Edge, dtype: object),
 ('Courier',
  Motor                                              Motor Diesel V8
  Ano                                                           2007
  Quilometragem                                               8052.0
  Zero_km                                                      False
  Acessórios       ['Central multimídia', '4 X 4', 'Piloto automá...
  Valor                                                     73919.53
  Name: Courier, dtype: object),
 ('S-18',
  Motor                                                     Motor V6
  Ano                                                           2001
  Quilometragem                                              89773.0
  Zero_km                                                      False
  Acessórios       ['Bancos de couro', 'Sensor de chuva', 'Rodas ...
  Valor                                                    112732.99
  Name: S-18, dtype: object),
 ('J5',
  Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor crepuscular', 'Painel digital', 'Roda...
  Valor                                                     53183.38
  Name: J5, dtype: object),
 ('F-Type Coupé',
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2009
  Quilometragem                                              41457.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Sensor crepuscular', 'S...
  Valor                                                    127488.42
  Name: F-Type Coupé, dtype: object),
 ('RAM',
  Motor                                              Motor Diesel V8
  Ano                                                           2016
  Quilometragem                                             115607.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', 'Câmbio automático', 'S...
  Valor                                                      59910.4
  Name: RAM, dtype: object),
 ('Série 1',
  Motor                                                Motor 3.0 32v
  Ano                                                           2012
  Quilometragem                                              46449.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Câmera de estacionamento'...
  Valor                                                     61118.59
  Name: Série 1, dtype: object),
 ('A3',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                     88552.39
  Name: A3, dtype: object),
 ('XC90',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2016
  Quilometragem                                              37086.0
  Zero_km                                                      False
  Acessórios       ['Travas elétricas', 'Vidros elétricos', 'Teto...
  Valor                                                     62696.69
  Name: XC90, dtype: object),
 ('RS 3 Sportback',
  Motor                                                Motor 3.0 32v
  Ano                                                           2017
  Quilometragem                                              15173.0
  Zero_km                                                      False
  Acessórios       ['4 X 4', 'Piloto automático', 'Central multim...
  Valor                                                     101726.3
  Name: RS 3 Sportback, dtype: object),
 ('Pajero Sport',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2002
  Quilometragem                                             101193.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Piloto automátic...
  Valor                                                    106147.38
  Name: Pajero Sport, dtype: object),
 ('Série 1 M',
  Motor                                                     Motor V8
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de estabilidade', 'Central multimíd...
  Valor                                                      94564.4
  Name: Série 1 M, dtype: object),
 ('Lamborghini Obvious',
  Motor                                              Motor Diesel V6
  Ano                                                           1994
  Quilometragem                                              98079.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Câmbio automático', 'Travas...
  Valor                                                    133529.84
  Name: Lamborghini Obvious, dtype: object),
 ('Effa Hafei Picape Baú',
  Motor                                                 Motor Diesel
  Ano                                                           1991
  Quilometragem                                             102959.0
  Zero_km                                                      False
  Acessórios       ['Controle de estabilidade', 'Painel digital',...
  Valor                                                    125684.65
  Name: Effa Hafei Picape Baú, dtype: object),
 ('Lamborghini Murciélago',
  Motor                                        Motor 5.0 V8 Bi-Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Câmbio automático', 'Ar condic...
  Valor                                                    121596.21
  Name: Lamborghini Murciélago, dtype: object),
 ('Up!',
  Motor                                              Motor Diesel V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de estacionamento', 'Vidros elétricos...
  Valor                                                      71367.1
  Name: Up!, dtype: object),
 ('Fiesta Rocam Sedan',
  Motor                                              Motor 4.0 Turbo
  Ano                                                           2016
  Quilometragem                                               5795.0
  Zero_km                                                      False
  Acessórios       ['Ar condicionado', 'Bancos de couro', 'Câmbio...
  Valor                                                     95347.75
  Name: Fiesta Rocam Sedan, dtype: object),
 ('Sandero Stepway',
  Motor                                                Motor 3.0 32v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Freios ABS', 'Ar condicionado', 'Teto panorâ...
  Valor                                                    105432.84
  Name: Sandero Stepway, dtype: object),
 ('Cayman S',
  Motor                                                Motor 3.0 32v
  Ano                                                           2002
  Quilometragem                                              58848.0
  Zero_km                                                      False
  Acessórios       ['Câmbio automático', 'Sensor de estacionament...
  Valor                                                     57045.27
  Name: Cayman S, dtype: object),
 ('V40',
  Motor                                              Motor 4.0 Turbo
  Ano                                                           1991
  Quilometragem                                              94381.0
  Zero_km                                                      False
  Acessórios       ['Câmera de estacionamento', 'Sensor de estaci...
  Valor                                                     120432.7
  Name: V40, dtype: object),
 ('Classe SLS AMG',
  Motor                                                 Motor 1.0 8v
  Ano                                                           1997
  Quilometragem                                              30163.0
  Zero_km                                                      False
  Acessórios       ['Sensor de estacionamento', 'Controle de esta...
  Valor                                                      70707.2
  Name: Classe SLS AMG, dtype: object),
 ('Gol G4',
  Motor                                                Motor 2.0 16v
  Ano                                                           1995
  Quilometragem                                              53332.0
  Zero_km                                                      False
  Acessórios       ['Sensor crepuscular', '4 X 4', 'Vidros elétri...
  Valor                                                     69105.18
  Name: Gol G4, dtype: object),
 ('Linea',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2018
  Quilometragem                                              17720.0
  Zero_km                                                      False
  Acessórios       ['Piloto automático', 'Painel digital', 'Vidro...
  Valor                                                     59358.69
  Name: Linea, dtype: object),
 ('Ford F100',
  Motor                                                Motor 2.0 16v
  Ano                                                           1991
  Quilometragem                                              33808.0
  Zero_km                                                      False
  Acessórios       ['Controle de tração', 'Sensor crepuscular', '...
  Valor                                                      65955.4
  Name: Ford F100, dtype: object),
 ('J2',
  Motor                                                     Motor V8
  Ano                                                           2014
  Quilometragem                                              90684.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Sensor de estacionamento'...
  Valor                                                     60017.03
  Name: J2, dtype: object),
 ('Aston Martin DBS',
  Motor                                                     Motor V8
  Ano                                                           1995
  Quilometragem                                              43975.0
  Zero_km                                                      False
  Acessórios       ['Teto panorâmico', 'Piloto automático', 'Ar c...
  Valor                                                    118909.52
  Name: Aston Martin DBS, dtype: object),
 ('Pajero TR4',
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Controle de tração', 'Bancos de couro', 'Câm...
  Valor                                                     51606.59
  Name: Pajero TR4, dtype: object),
 ('Polo Sedan',
  Motor                                                     Motor V6
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Sensor de chuva', 'Sensor crepuscular', 'Ar ...
  Valor                                                    123281.87
  Name: Polo Sedan, dtype: object),
 ('California',
  Motor                                                 Motor 1.0 8v
  Ano                                                           2009
  Quilometragem                                               5526.0
  Zero_km                                                      False
  Acessórios       ['Rodas de liga', 'Ar condicionado', 'Câmera d...
  Valor                                                     69770.18
  Name: California, dtype: object),
 ('S60',
  Motor                                              Motor 2.4 Turbo
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Teto panorâmico', 'Freios ABS', '4 X 4', 'Ar...
  Valor                                                    102609.54
  Name: S60, dtype: object),
 ('Tucson',
  Motor                                                Motor 2.0 16v
  Ano                                                           2013
  Quilometragem                                              93415.0
  Zero_km                                                      False
  Acessórios       ['Vidros elétricos', 'Sensor crepuscular', 'Fr...
  Valor                                                     67997.19
  Name: Tucson, dtype: object),
 ('HB20',
  Motor                                                     Motor V6
  Ano                                                           2003
  Quilometragem                                              40762.0
  Zero_km                                                      False
  Acessórios       ['Sensor de chuva', 'Travas elétricas', 'Contr...
  Valor                                                    135235.29
  Name: HB20, dtype: object),
 ('Optima',
  Motor                                                Motor 1.8 16v
  Ano                                                           2019
  Quilometragem                                                  NaN
  Zero_km                                                       True
  Acessórios       ['Central multimídia', 'Ar condicionado', 'Tet...
  Valor                                                     86641.34
  Name: Optima, dtype: object),
 ('Logan',

In [ ]:
for index, row in dataset.iterrows():
  if(2019 - row['Ano'] != 0):
      dataset.loc[index, 'Km_media'] = row['Quilometragem'] / (2022 - row['Ano']) 
  else:
      dataset.loc[index, 'km_media'] = 0 
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media,km_media
Nome,,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2337.368421,NaN
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,184.258065,NaN
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1160.093750,NaN
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,NaN,0.0
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1609.812500,NaN
...,...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,3438.125000,NaN
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,967.129032,NaN
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,2631.850000,NaN
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,295.576923,NaN
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1672.933333,NaN

Tratamento de dados (Os registros nulos pode ser apagados, ou substituidos por 0 ou 1)

In [ ]:
dataset.head()

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media,km_media
Nome,,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2337.368421,NaN
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,184.258065,NaN
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1160.093750,NaN
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,NaN,0.0
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1609.812500,NaN

In [ ]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
Index: 258 entries, Jetta Variant to Macan
Data columns (total 8 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Motor          258 non-null    object
 1   Ano            258 non-null    int64
 2   Quilometragem  197 non-null    float64
 3   Zero_km        258 non-null    bool
 4   Acessórios     258 non-null    object
 5   Valor          258 non-null    float64
 6   Km_media       197 non-null    float64
 7   km_media       61 non-null     float64
dtypes: bool(1), float64(4), int64(1), object(2)
memory usage: 24.5+ KB

Verificar valores Nulo

In [ ]:
dataset.Quilometragem.isna()

Nome
Jetta Variant            False
Passat                   False
Crossfox                 False
DS5                       True
Aston Martin DB4         False
                         ...
Phantom 2013             False
Cadillac Ciel concept    False
Classe GLK               False
Aston Martin DB5         False
Macan                    False
Name: Quilometragem, Length: 258, dtype: bool

In [ ]:
dataset[dataset.Quilometragem.isna()]

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media,km_media
Nome,,,,,,,,
DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,NaN,0.0
A5,Motor 4.0 Turbo,2019,NaN,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,NaN,0.0
J5,Motor V6,2019,NaN,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,NaN,0.0
A3,Motor 1.0 8v,2019,NaN,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,NaN,0.0
Série 1 M,Motor V8,2019,NaN,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,NaN,0.0
...,...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,NaN,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,NaN,0.0
Benni Mini,Motor V8,2019,NaN,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,NaN,0.0
Uno,Motor Diesel V6,2019,NaN,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,NaN,0.0
Santa Fe,Motor 3.0 32v,2019,NaN,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,NaN,0.0
XC60,Motor 4.0 Turbo,2019,NaN,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,NaN,0.0

In [ ]:
#Preencher valores nulos com 0
dataset.fillna(0, inplace = True)

In [ ]:
dataset

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media,km_media
Nome,,,,,,,,
Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64,2337.368421,0.0
Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94,184.258065,0.0
Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16,1160.093750,0.0
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.000000,0.0
Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10,1609.812500,0.0
...,...,...,...,...,...,...,...,...
Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58,3438.125000,0.0
Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06,967.129032,0.0
Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03,2631.850000,0.0
Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90,295.576923,0.0
Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47,1672.933333,0.0

In [ ]:
dataset.query("Zero_km == True")

,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor,Km_media,km_media
Nome,,,,,,,,
DS5,Motor 2.4 Turbo,2019,0.0,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07,0.0,0.0
A5,Motor 4.0 Turbo,2019,0.0,True,"['Câmbio automático', 'Câmera de estacionament...",56445.20,0.0,0.0
J5,Motor V6,2019,0.0,True,"['Sensor crepuscular', 'Painel digital', 'Roda...",53183.38,0.0,0.0
A3,Motor 1.0 8v,2019,0.0,True,"['4 X 4', 'Piloto automático', 'Central multim...",88552.39,0.0,0.0
Série 1 M,Motor V8,2019,0.0,True,"['Controle de estabilidade', 'Central multimíd...",94564.40,0.0,0.0
...,...,...,...,...,...,...,...,...
Lamborghini Reventón,Motor 4.0 Turbo,2019,0.0,True,"['Controle de tração', 'Ar condicionado', 'Cen...",67664.86,0.0,0.0
Benni Mini,Motor V8,2019,0.0,True,"['Sensor crepuscular', 'Câmbio automático', 'C...",126247.84,0.0,0.0
Uno,Motor Diesel V6,2019,0.0,True,"['Central multimídia', 'Sensor crepuscular', '...",128852.21,0.0,0.0
Santa Fe,Motor 3.0 32v,2019,0.0,True,"['Travas elétricas', 'Ar condicionado', '4 X 4...",129415.33,0.0,0.0
XC60,Motor 4.0 Turbo,2019,0.0,True,"['Painel digital', 'Piloto automático', 'Centr...",77675.79,0.0,0.0

In [ ]:
dataset = pd.read_csv('db.csv', sep=';')

In [ ]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47

In [ ]:
#Eliminando os registros NAN
dataset.dropna(subset=['Quilometragem'], inplace = True)

In [ ]:
dataset

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10
5,Palio Weekend,Motor 1.8 16v,2012,10728.0,False,"['Sensor de estacionamento', 'Teto panorâmico'...",97497.73
...,...,...,...,...,...,...,...
253,Phantom 2013,Motor V8,2014,27505.0,False,"['Controle de estabilidade', 'Piloto automátic...",51759.58
254,Cadillac Ciel concept,Motor V8,1991,29981.0,False,"['Bancos de couro', 'Painel digital', 'Sensor ...",51667.06
255,Classe GLK,Motor 5.0 V8 Bi-Turbo,2002,52637.0,False,"['Rodas de liga', 'Controle de tração', 'Câmbi...",68934.03
256,Aston Martin DB5,Motor Diesel,1996,7685.0,False,"['Ar condicionado', '4 X 4', 'Câmbio automátic...",122110.90
257,Macan,Motor Diesel V6,1992,50188.0,False,"['Central multimídia', 'Teto panorâmico', 'Vid...",90381.47