# <font color='green' style='font-size: 30px backgound =;'>Python para Data Science: Funções, Pacotes e Pandas - I</font>
<hr style='border: 2px solid green;'>

##### 01- Apresentação do curso

In [1]:
import pandas as pd
#pd.set_option('display.max_row',1000)#Para visualizar todas as linhas
#pd.set_option('display.max_columns', 1000) #Para visualizar todas as colunas

In [2]:
#Visualização 
dataset = pd.read_csv('db.csv', sep = ';')
dataset.head()

,Nome,Motor,Ano,Quilometragem,Zero_km,Acessórios,Valor
0,Jetta Variant,Motor 4.0 Turbo,2003,44410.0,False,"['Rodas de liga', 'Travas elétricas', 'Piloto ...",88078.64
1,Passat,Motor Diesel,1991,5712.0,False,"['Central multimídia', 'Teto panorâmico', 'Fre...",106161.94
2,Crossfox,Motor Diesel V8,1990,37123.0,False,"['Piloto automático', 'Controle de estabilidad...",72832.16
3,DS5,Motor 2.4 Turbo,2019,NaN,True,"['Travas elétricas', '4 X 4', 'Vidros elétrico...",124549.07
4,Aston Martin DB4,Motor 2.4 Turbo,2006,25757.0,False,"['Rodas de liga', '4 X 4', 'Central multimídia...",92612.10

In [3]:
# Tipos dos dados / str == object
dataset.dtypes

Nome              object
Motor             object
Ano                int64
Quilometragem    float64
Zero_km             bool
Acessórios        object
Valor            float64
dtype: object

In [4]:
#Calcular estatística descritiva
dataset [['Quilometragem', 'Valor']].describe()

       Quilometragem          Valor
count     197.000000     258.000000
mean    58278.421320   98960.513101
std     35836.733259   29811.932305
min       107.000000   50742.100000
25%     27505.000000   70743.512500
50%     55083.000000   97724.380000
75%     90495.000000  124633.302500
max    119945.000000  149489.920000

In [5]:
dataset.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 258 entries, 0 to 257
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Nome           258 non-null    object
 1   Motor          258 non-null    object
 2   Ano            258 non-null    int64
 3   Quilometragem  197 non-null    float64
 4   Zero_km        258 non-null    bool
 5   Acessórios     258 non-null    object
 6   Valor          258 non-null    float64
dtypes: bool(1), float64(2), int64(1), object(3)
memory usage: 12.5+ KB

##### 02- Listas estáticas: Tuplas

In [6]:
#Tuplas
nome = 'Passat'
valor = 153000
(nome ,  valor)

('Passat', 153000)

In [7]:
nome_carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
nome_carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [8]:
type(nome_carros)

list

In [9]:
#transformando uma lista em tupla
nome_carros = tuple(['Jetta Variant', 'Passat', 'Crossfox', 'DS5'])
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [10]:
type(nome_carros)

tuple

In [11]:
nome_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5',('Fusca', 'Gol', 'C4'))
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5', ('Fusca', 'Gol', 'C4'))

In [12]:
nome_carros[2]

'Crossfox'

In [13]:
nome_carros[1:3]

('Passat', 'Crossfox')

In [14]:
nome_carros[1:2]

('Passat',)

In [15]:
nome_carros[-1][1]

'Gol'

In [16]:
nome_carros[-1]

('Fusca', 'Gol', 'C4')

Interação com tuplas

In [17]:

carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [18]:
carros[0][3]

False

In [19]:
carros[-1][-1][-1]

'Freios ABS'

In [20]:
carros[0][-1][:2]

('Rodas de liga', 'Travas elétricas')

In [21]:
for item in carros:
    print(item)

('Jetta Variant', 'Motor 4.0 Turbo', 2003, False, ('Rodas de liga', 'Travas elétricas', 'Piloto automático'))
('Passat', 'Motor Diesel', 1991, True, ('Central multimídia', 'Teto panorâmico', 'Freios ABS'))

In [22]:

nome_carros = ('Jetta Variant', 'Passat', 'Crossfox', 'DS5')
nome_carros

('Jetta Variant', 'Passat', 'Crossfox', 'DS5')

In [23]:
#Desempacotamento de tuplas
carro_1, carro_2, carro_3, carro_4 = nome_carros

In [24]:
carro_1

'Jetta Variant'

In [25]:
carro_2

'Passat'

In [26]:
carro_3

'Crossfox'

In [27]:
carro_4

'DS5'

In [28]:
#Ignorando o valor onde as variaveis estão subistituidas pelo underscor
_, A, _, B = nome_carros

In [29]:
A

'Passat'

In [30]:
B

'DS5'

In [31]:
#Ignorando o valor das variaveis (Todos que não me enterassa menos o C, discarto com *_ )
_, C, *_ = nome_carros

In [32]:
C

'Passat'

zip realiza interação com tuplas

In [33]:
# ZIP realiza interação com tuplas
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [34]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [35]:
zip(carros, valores)

In [36]:
#Colocando o zip, dentro de uma lista, ele retorma uma lista
list(zip(carros, valores))

[('Jetta Variant', 88078.64),
 ('Passat', 106161.94),
 ('Crossfox', 72832.16),
 ('DS5', 124549.07)]

In [37]:
for item  in zip(carros, valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [38]:
for item in zip(carros, valores):
    print(item)

('Jetta Variant', 88078.64)
('Passat', 106161.94)
('Crossfox', 72832.16)
('DS5', 124549.07)

In [39]:
for carro, valor in zip(carros, valores):
    print(carro, valor)

Jetta Variant 88078.64
Passat 106161.94
Crossfox 72832.16
DS5 124549.07

In [40]:
for carro, valor in zip(carros, valores):
    if(valor > 100000):
        print(carro)

Passat
DS5

##### 03- Mapeando dados: Dicionários

In [41]:
carros = (
    (
        'Jetta Variant',
        'Motor 4.0 Turbo',
        2003,
        False,
        ('Rodas de liga', 'Travas elétricas', 'Piloto automático')
    ),
    (
        'Passat',
        'Motor Diesel',
        1991,
        True,
        ('Central multimídia', 'Teto panorâmico', 'Freios ABS')
    )
)

In [42]:
carros = ['Jetta Variant', 'Passat', 'Crossfox', 'DS5']
carros

['Jetta Variant', 'Passat', 'Crossfox', 'DS5']

In [43]:
valores = [88078.64, 106161.94, 72832.16, 124549.07]
valores

[88078.64, 106161.94, 72832.16, 124549.07]

In [44]:
# Acessando index de determinada elemento
carros.index('Passat')

1

In [45]:
valores[carros.index('Passat')]

106161.94