# Estatística com Python parte 1: Frequências e Medidas - parte I

 Os seguintes tratamentos foram realizados nos dados originais:

>1.Foram eliminados os registros onde a Renda era inválida(999 999 999 999);

>2.Foram eleiminados os registros onde a Renda era missing;

>3.Foram considerados somente os regsitros das Pessoas de Referência de cada domicilio(responsável pelo domicílio ))

In [1]:
import pandas as pd
import numpy 
import seaborn
import scipy

In [2]:
dados = pd.read_csv('dados.csv')

type(dados)

pandas.core.frame.DataFrame

In [3]:
dados.head()

   UF  Sexo  Idade  Raca  Anos de Estudo  Renda    Altura
0  11     0     23     8              12    800  1.603808
1  11     1     23     2              12   1150  1.739790
2  11     1     35     8              15    880  1.760444
3  11     0     46     2               6   3500  1.783158
4  11     1     47     8               9    150  1.690631

In [4]:
print('Variáveis qualitativas ORDINAIS')
sorted(dados['Anos de Estudo'].unique())

Variáveis qualitativas ORDINAIS

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17]

In [5]:
print('Variáveis qualitativas ORDINAIS')
sorted(dados['UF'].unique())

Variáveis qualitativas ORDINAIS

[11,
 12,
 13,
 14,
 15,
 16,
 17,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 31,
 32,
 33,
 35,
 41,
 42,
 43,
 50,
 51,
 52,
 53]

In [6]:
#Não tem como dizer que uma é melhor ou maior que a outra
print('Variáveis qualitativas NOMINAIS')
sorted(dados['Sexo'].unique())

Variáveis qualitativas NOMINAIS

[0, 1]

In [7]:
print('Variáveis qualitativas NOMINAIS')
sorted(dados['Raca'].unique())

Variáveis qualitativas NOMINAIS

[0, 2, 4, 6, 8]

In [8]:
#Representa a idade redonda(sem meses, dias) 
print('Variáveis quantitavas DISCRETA')
print('De %s até %s anos' % (dados.Idade.min(), dados.Idade.max()))

Variáveis quantitavas DISCRETA
De 13 até 99 anos

In [9]:
print('Variáveis quantitavas CONTÍNUAS')
print('De %s até %s metros' % (dados['Altura'].min(), dados.Altura.max()))

Variáveis quantitavas CONTÍNUAS
De 1.339244614 até 2.028496765 metros

### Distribuição de frequência qualitativas- Método 1

> Variáveis qualitativas

In [10]:
#Quantidades (lembre que a refência é quem respondeu o questionario, o responsável pela casa)
dados['Sexo'].value_counts()

0    53250
1    23590
Name: Sexo, dtype: int64

In [11]:
#Transformando em percentual
dados['Sexo'].value_counts(normalize = True)* 100

0    69.299844
1    30.700156
Name: Sexo, dtype: float64

In [12]:
frequencia =  dados['Sexo'].value_counts()

In [13]:
percentual = dados['Sexo'].value_counts(normalize = True)* 100

In [14]:
#Distribuição de frenquência qualitativas
dist_freq_qualitativas = pd.DataFrame({'Frequência' : frequencia,'Porcentagem (%)': percentual})

In [15]:
dist_freq_qualitativas

   Frequência  Porcentagem (%)
0       53250        69.299844
1       23590        30.700156

'Implace= True' vai sobrescrever a mudança feita no index salvar

In [16]:
dist_freq_qualitativas.rename(index = {0: 'Masculino', 1: 'Feminino'}, inplace=True)

In [17]:
#Ele pode renomear uma coluna ou linha 
#(no pandas 1= coluna/ 0= linhas) 
dist_freq_qualitativas.rename_axis('Sexo', axis='columns', inplace=True)

In [18]:
dist_freq_qualitativas

Sexo       Frequência  Porcentagem (%)
Masculino       53250        69.299844
Feminino        23590        30.700156

In [19]:
Sexo = {0: 'Masculino',
        1: 'Feminino'}

Raca = {0: 'Indígena',
        2: 'Branca',
        4: 'Preta',
        6: 'Amarela',
        8: 'Parda',
        9: 'Sem declaração'}

In [21]:
frequencia = pd.crosstab(dados.Sexo, dados.Raca)
frequencia.rename(index = Sexo, inplace = True)
frequencia.rename(columns = Raca, inplace = True)
frequencia

Raca       Indígena  Branca  Preta  Amarela  Parda
Sexo
Masculino       256   22194   5502      235  25063
Feminino        101    9621   2889      117  10862

In [ ]:
# Distribuição de frequencia
04 3:53