# <font color='green' style='font-size: 30px backgound =;'> Machine Learning: Introdução a classificação com SKLearn - Teste I</font>
<hr style='border: 2px solid green;'>

<div>
O treino foi realizado baseado em um site que contem as abas "principal,como_funciona, contato, comprou", é realizado a analise do usuario ao entrar no site, </br>
> usuario entrou na aba principal?  </br>
> usuario entrou na aba como_funciona?   </br>
> usuario entrou na aba contato? </br>
> usuario realizou compra ao entrar no site? </br>
</div>

In [20]:
import pandas as pd

from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

In [42]:
uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(url)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

2.2 - Lendo dados da internet e manipulando os mesmos

In [43]:
import pandas as pd

uri = 'https://gist.githubusercontent.com/guilhermesilveira/2d2efa37d66b6c84a722ea627a897ced/raw/10968b997d885cbded1c92938c7a9912ba41c615/tracking.csv'
dados = pd.read_csv(url)
dados.head()

   home  how_it_works  contact  bought
0     1             1        0       0
1     1             1        0       0
2     1             1        0       0
3     1             1        0       0
4     1             1        0       0

In [27]:
#renomeando tabela
mapa = {
    "home" : "principal",
    "how_it_works" : "como_funciona",
    "contact" : "contato",
    "bought" : "comprou"
}
dados = dados.rename(columns = mapa)

In [28]:
#Definindo x 
x = dados[['principal', 'como_funciona','contato']]
x.head()

   principal  como_funciona  contato
0          1              1        0
1          1              1        0
2          1              1        0
3          1              1        0
4          1              1        0

In [29]:
#Definindo y
y = dados['comprou']
y.head()

0    0
1    0
2    0
3    0
4    0
Name: comprou, dtype: int64

In [30]:
dados.head()

   principal  como_funciona  contato  comprou
0          1              1        0        0
1          1              1        0        0
2          1              1        0        0
3          1              1        0        0
4          1              1        0        0

In [31]:
dados.shape

(99, 4)

In [32]:
# 0 a 74 
treino_x = x[:75]
treino_y = y[:75]

# 75 diante
teste_x = x[75:]
teste_y = y[75:]
teste_y.shape

print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

Treinaremos com 75 elementos e testaremos com 24 elementos

In [33]:
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

A acurácia foi 95.83%

2.5 Estratificando splits

In [34]:
from sklearn.model_selection import train_test_split

train_test_split(x, y, test_size =0.25)

[    principal  como_funciona  contato
 70          1              1        0
 31          1              0        1
 98          0              0        0
 97          0              1        0
 26          1              1        1
 ..        ...            ...      ...
 43          1              0        1
 22          0              0        1
 10          1              1        0
 24          1              0        1
 17          0              1        0

 [74 rows x 3 columns],
     principal  como_funciona  contato
 46          1              0        1
 80          0              0        1
 14          0              0        1
 7           1              0        1
 35          1              0        1
 47          1              0        1
 40          0              1        0
 39          1              0        1
 82          0              0        1
 16          0              0        1
 60          1              0        1
 88          0              0        1
 34          1              0        1
 61          0              1        0
 25          1              1        1
 64          1              0        1
 78          0              0        1
 21          0              1        0
 87          0              0        1
 12          0              0        1
 63          0              1        0
 56          1              0        1
 58          1              0        1
 6           1              1        0
 71          0              0        1,
 70    0
 31    1
 98    0
 97    0
 26    1
      ..
 43    1
 22    0
 10    1
 24    1
 17    0
 Name: comprou, Length: 74, dtype: int64,
 46    1
 80    0
 14    0
 7     1
 35    1
 47    1
 40    0
 39    1
 82    0
 16    0
 60    1
 88    0
 34    1
 61    0
 25    1
 64    1
 78    0
 21    0
 87    0
 12    0
 63    0
 56    1
 58    1
 6     0
 71    0
 Name: comprou, dtype: int64]

In [35]:
from sklearn.model_selection import train_test_split

treino_x, teste_x, treino_y, teste_y =train_test_split(x, y, test_size =0.25)
print(treino_x.shape)
print(teste_x.shape)

(74, 3)
(25, 3)

In [36]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 100.00%

In [37]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y, random_state = SEED, test_size = 0.25)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [38]:
treino_y.value_counts()

0    47
1    27
Name: comprou, dtype: int64

In [39]:
from sklearn.model_selection import train_test_split
from sklearn.svm import LinearSVC
from sklearn.metrics import accuracy_score

SEED = 20

treino_x, teste_x, treino_y, teste_y = train_test_split(x, y,
                                                         random_state = SEED, test_size = 0.25,
                                                         stratify = y)
print("Treinaremos com %d elementos e testaremos com %d elementos" % (len(treino_x), len(teste_x)))

modelo = LinearSVC()
modelo.fit(treino_x, treino_y)
previsoes = modelo.predict(teste_x)

acuracia = accuracy_score(teste_y, previsoes) * 100
print("A acurácia foi %.2f%%" % acuracia)

Treinaremos com 74 elementos e testaremos com 25 elementos
A acurácia foi 96.00%

In [40]:
treino_y.value_counts()

0    49
1    25
Name: comprou, dtype: int64

In [41]:
teste_y.value_counts()

0    17
1     8
Name: comprou, dtype: int64